@charset "utf-8";
body{margin:0px; font-size:12px; color:#333; font-family:"微软雅黑",Microsoft YaHei; cursor:default;}
*{padding:0px; margin:0px;}
body,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,p,i,b,em,span,form,fieldset,legend,input,textarea,select,button,th,td {margin:0; padding:0; font-family:"微软雅黑",Microsoft YaHei;}
h1,h2,h3,h4,h5,h6 {list-style:none; font-weight:normal;}
input,select,button{font-size:12px; font-family:"微软雅黑",Microsoft YaHei; border:0; background:none; outline:none; vertical-align:middle;}
button {overflow:visible}
img{border:none;}
li{list-style:none;}
a{color:#333; text-decoration:none;}
a:hover{color:#0361af;}
.clear{overflow:hidden; clear:both; height:0px;}
.lf{float:left;}
.rt{float:right;}